@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800&display=swap');


body{
    font-family: 'Open Sans', sans-serif;
}

nav{
    z-index: 10001 !important;
}

.gradienBg{
    background: linear-gradient(99deg, #9ac5ec 0%, #0258a8 100%);
}